version: '3.5'

services:
  postgres:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: test_db
    ports:
      - "127.0.0.1:5432:5432"
    container_name: be_api_postgres
    volumes:
      - ./.data/postgres:/data/postgres
  redis:
    image: redis:6.2.2
    restart: always
    environment:
      REDIS_PASSWORD: pass
    ports:
      - "6379:6379"
    container_name: be_api_redis
    volumes:
      - ./.data/redis:/data/db
